<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BRILLAR</title>
</head>
<body>

    <!-- 상단배너 -->
    <div>
        <img src="" alt="배너">
    </div>

    <!-- s: 신상품 -->
    <div>
        <div>
            <p>What Is New?</p>
        </div>

        <!-- s: 제품 리스트 -->
        <!-- Ajax 적용 -->
        <div id="newProducts">

            <!-- Thymleaf 적용 -->
            <!-- <div th:each="dto : ${result}">
                <input id="pid" type="hidden" name="productId" value="${dto.productId}">
                <div>
                    <img th:src="${dto.imageUrl}" alt="제품사진">
                </div>
                <div>
                    <span th:text="${dto.productName}"></span>
                </div>
                <div>
                    <span th:text="${dto.price}"></span><span> 원</span>
                </div>
                <div>
                    <span th:text="${dto.productDesc}"></span>
                </div>
            </div> -->

            <!-- <div>
                <div>
                    <img src="" alt="제품사진">
                </div>
                <div>
                    <span>플레인 골드 체인 팔찌 2</span>
                </div>
                <div>
                    <span>20,000</span><span> 원</span>
                </div>
                <div>
                    <span>기본적인 디자인의 골드 팔찌</span>
                </div>
            </div>

            <div>
                <div>
                    <img src="" alt="제품사진">
                </div>
                <div>
                    <span>플레인 골드 체인 팔찌 3</span>
                </div>
                <div>
                    <span>20,000</span><span> 원</span>
                </div>
                <div>
                    <span>기본적인 디자인의 골드 팔찌</span>
                </div>
            </div>

            <div>
                <div>
                    <img src="" alt="제품사진">
                </div>
                <div>
                    <span>플레인 골드 체인 팔찌 4</span>
                </div>
                <div>
                    <span>20,000</span><span> 원</span>
                </div>
                <div>
                    <span>기본적인 디자인의 골드 팔찌</span>
                </div>
            </div>

            <div>
                <div>
                    <img src="" alt="제품사진">
                </div>
                <div>
                    <span>플레인 골드 체인 팔찌 5</span>
                </div>
                <div>
                    <span>20,000</span><span> 원</span>
                </div>
                <div>
                    <span>기본적인 디자인의 골드 팔찌</span>
                </div>
            </div>

            <div>
                <div>
                    <img src="" alt="제품사진">
                </div>
                <div>
                    <span>플레인 골드 체인 팔찌 6</span>
                </div>
                <div>
                    <span>20,000</span><span> 원</span>
                </div>
                <div>
                    <span>기본적인 디자인의 골드 팔찌</span>
                </div>
            </div> -->
        </div>
        <!-- e: 제품리스트 -->

        <div>
            <button>쇼핑하기 →</button>
        </div>

    </div>
    <!-- e: 신상품 -->

    <!-- s: 컬렉션1 -->
    <div>
        <div>
            <div>
                <img src="" alt="모델사진">
            </div>
            <div>
                <div>
                    <p>BRILLAR EARRINGS</p>
                </div>
                <div>
                    <p>브릴라 귀걸이 컬렉션</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <p>Sed commodo pellentesque arcu tristique et morbi.</p>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <p>Sed commodo pellentesque arcu tristique et Lorem ipsum dolor sit am</p>
                </div>
            </div>
        </div>
    </div>
    <!-- e: 컬렉션1 -->
    <!-- s: 컬렉션2 -->
    <div>
        <div>
            <div>
                <div>
                    <p>BRILLAR JEWELRY</p>
                </div>
                <div>
                    <p>최고의 선택</p>
                </div>
                <div>
                    <p>저희는 정말 최고의 제품입니다... 믿어주세요.</p>
                    <p>저희는 정말 최고의 제품입니다... 믿어주세요.</p>
                    <p>저희는 정말 최고의 제품입니다... 믿어주세요.</p>
                    <p>저희는 정말 최고의 제품입니다... 믿어주세요.</p>
                    <p>저희는 정말 최고의 제품입니다... 믿어주세요.</p>
                </div>
            </div>
            <div>
                <img src="" alt="모델 사진">
            </div>
        </div>
    </div>
    <!-- e: 컬렉션2 -->

    <!-- s: 할인상품 -->
    <div>
        <div>
            <img src="" alt="할인상품">
            <div>
                <div>
                    <p>15% OFF</p>
                </div>
                <div>
                    <p>루비 실버 물방울 귀걸이</p>
                </div>
                <div>
                    <a href="#">바로가기</a>
                </div>
            </div>
        </div>
        <div>
            <img src="" alt="할인상품">
            <div>
                <div>
                    <p>15% OFF</p>
                </div>
                <div>
                    <p>루비 실버 물방울 귀걸이</p>
                </div>
                <div>
                    <a href="#">바로가기</a>
                </div>
            </div>
        </div>
    </div>
    <!-- e: 할인상품 -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script>
        // const pageLoaded = () => {
        //     fetch('/get/products')
        //         .then(response => {
        //             if (!response) {
        //                 throw new Error("요청 확인")
        //             }
        //             return response.json()
        //         })
        //         .then(data => {
        //             console.log(data)
        //             const container = document.getElementById('newProducts');
        //             let html = "";
                    
        //             data.forEach(dto => {
        //                 html += `
        //                     <div>
        //                         <input id="pid" type="hidden" name="productId" value="${dto.productId}">
        //                         <div>
        //                             <img src="${dto.imageUrl}" alt="제품사진">
        //                         </div>
        //                         <div>
        //                             <span>${dto.productName}</span>
        //                         </div>
        //                         <div>
        //                             <span>${dto.price}</span><span> 원</span>
        //                         </div>
        //                         <div>
        //                             <span>${dto.productDesc}</span>
        //                         </div>
        //                     </div>
        //                 `;
        //             });
    
        //             container.innerHTML = html;
        //         })
        //         .catch(error => {
        //             console.error(error);
        //         });
        // };
            

        const pageLoaded = () => {
            $.ajax({
                url: '/get/products',
                method: 'GET',
                dataType: 'json',
                success: (data)=>{
                    const $newProducts = $('#newProducts')
                    let html = '';

                    $.each(data, function(index, dto) {
                    html += `
                        <div>
                            <input id="pid" type="hidden" name="productId" value="${dto.productId}">
                            <div>
                                <img src="${dto.imageUrl}" alt="제품사진">
                            </div>
                            <div>
                                <span>${dto.productName}</span>
                            </div>
                            <div>
                                <span>${dto.price}</span><span> 원</span>
                            </div>
                            <div>
                                <span>${dto.productDesc}</span>
                            </div>
                        </div>
                    `;
                });
                    $newProducts.html(html);
                },
                error: (xhr, status, error)=>{
                    console.error("오류: " + status, "내용: " + error);
                }
            });
        };

        pageLoaded();
    </script>
    
</body>

</html>