<!-- fragments/modal/confirmModal.html -->
<div th:fragment="modalFragment(modalId, modalTitle, modalContent, confirm, close, confrimId, cancelId)"
     class="modal" th:id="${modalId}">
    <div class="confirm-modal">
        <span class="modal-close">&times;</span>
        <p class="modal-title">[[${modalTitle}]]</p>
        <div class="modal-content">
            [[${modalContent}]]
        </div>
        <div class="modal-buttons">
            <button type="button" th:id="${confrimId}" class="btn-primary">[[${confirm}]]</button>
            <button type="button" th:id="${cancelId}" class="btn-warning">[[${close}]]</button>
        </div>
    </div>
</div>