<div class="modal review-modal" id="ReviewModal">
  <div class="modal-wrapper">
    <span id="RvModalClose" class="modal-close">&times;</span>
    <p class="modal-title">주문 취소</p>
    <p class="modal-subtitle"></p>
    <div class="modal-content">
      <div class="review-rate">
        <p>별점:</p>
        <div class="star-rating">
          <span class="star" data-rating="1">☆</span>
          <span class="star" data-rating="2">☆</span>
          <span class="star" data-rating="3">☆</span>
          <span class="star" data-rating="4">☆</span>
          <span class="star" data-rating="5">☆</span>
        </div>
      </div>
      <div class="textarea-wrapper">
        <textarea id="ReviewText" class="reveiw-textarea" maxlength="300"></textarea>
        <div class="review-limit comment-limit">
          <span id="ReviewCount">0</span>/300
        </div>
      </div>
    </div>
    <div class="modal-buttons">
      <button type="button" id="MakeReview" class="btn-primary">주문 취소</button>
      <button type="button" id="ReviewClose" class="btn-warning">닫기</button>
    </div>
  </div>
</div>