<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common/style.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/notice.css">
    <title>공지사항</title>
</head>
<body>
<!-- 헤더 -->
<header th:replace="fragments/header :: common-header"></header>
<div class="container notice-container">
    <p class="title-lg">
        NOTICE
    </p>
    <div class="notice-wrapper">
        <div class="notice-header">
            <div class="notice-col">번호</div>
            <div class="notice-col col-title">제목</div>
            <div class="notice-col col-date">등록일</div>
            <div class="notice-col">조회수</div>
        </div>
        <div id="notice-content" class="content-wrapper">
        </div>
        <div class="pagination notice-pagination">
            <button class="page-btn disabled"><img src="/img/icons/icon-first.svg" /></button>
            <button class="page-btn disabled"><img src="/img/icons/icon-prev.svg" /></button>
            <button class="page-btn active">1</button>
            <button class="page-btn">2</button>
            <button class="page-btn">3</button>
            <button class="page-btn">4</button>
            <button class="page-btn">5</button>
            <button class="page-btn"><img src="/img/icons/icon-next.svg" /></button>
            <button class="page-btn"><img src="/img/icons/icon-last.svg" /></button>
        </div>
    </div>
</div>
<!-- 푸터 -->
<footer th:replace="fragments/footer :: common-footer"></footer>
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    // 더미데이터
    const notices = [{
        id: 40,
        title: "긴급 점검 공지",
        date: "2025-05-10",
        view: "40",
        comment: "1"
    }, {
        id: 39,
        title: "긴급 개되방 공지",
        date: "2025-05-10",
        view: "10",
        comment: "2"
    }, {
        id: 38,
        title: "긴급 머왕님 공지",
        date: "2025-05-10",
        view: "20",
        comment: "0"
    }, {
        id: 37,
        title: "김자반 정처기 공지",
        date: "2025-05-10",
        view: "40",
        comment: "0"
    }, {
        id: 36,
        title: "긴급 점검 공지",
        date: "2025-05-10",
        view: "50",
        comment: "0"
    }, {
        id: 35,
        title: "긴급 점검 공지",
        date: "2025-05-10",
        view: "42",
        comment: "0"
    }, {
        id: 34,
        title: "긴급 점검 공지",
        date: "2025-05-10",
        view: "40",
        comment: "0"
    }, {
        id: 33,
        title: "긴급 점검 공지",
        date: "2025-05-10",
        view: "40",
        comment: "0"
    }, {
        id: 32,
        title: "긴급 점검 공지",
        date: "2025-05-10",
        view: "40",
        comment: "0"
    }, {
        id: 31,
        title: "긴급 점검 공지",
        date: "2025-05-10",
        view: "40",
        comment: "0"
    },
    ]

    $(document).ready(function () {
        const $noticeList = $('#notice-content');

        $.each(notices, function (i, notice) {
            const noticeHtml = `
					<div class="notice-list">
						<div class="notice-col">${notice.id}</div>
						<div class="notice-col col-title">
							<a href="/notice/${notice.id}">${notice.title}<span class="comment-count">&nbsp;[${notice.comment}]</span></a>
						</div>
						<div class="notice-col col-date">${notice.date}</div>
						<div class="notice-col">${notice.view}</div>
					</div>
				`
            $noticeList.append(noticeHtml);
        })
    })
</script>
</body>
</html>