<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>

    <link rel="stylesheet" type="text/css" href="/css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common/style.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/notice.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <!-- 헤더 -->
    <header th:replace="fragments/header :: common-header"></header>

    <div class="container notice-container">
        <p class="title-lg">
            NOTICE
        </p>
        <div class="notice-wrapper">
            <div class="notice-header">
                <div class="notice-col">번호</div>
                <div class="notice-col col-title">제목</div>
                <div class="notice-col col-date">등록일</div>
            </div>
            <div id="notice-content" class="content-wrapper">
            </div>
            <!-- 관리자용 공지 작성 버튼 -->
            <div class="admin-btn">
                <button class="btn-primary">작성하기</button>
            </div>
            <div class="pagination notice-pagination">
                <button class="page-btn disabled"><img src="/img/icons/icon-first.svg" /></button>
                <button class="page-btn disabled"><img src="/img/icons/icon-prev.svg" /></button>
                <button class="page-btn active">1</button>
                <button class="page-btn">2</button>
                <button class="page-btn">3</button>
                <button class="page-btn">4</button>
                <button class="page-btn">5</button>
                <button class="page-btn"><img src="/img/icons/icon-next.svg" /></button>
                <button class="page-btn"><img src="/img/icons/icon-last.svg" /></button>
            </div>
        </div>
    </div>

    <!-- 푸터 -->
    <footer th:replace="fragments/footer :: common-footer"></footer>
    <script th:src="@{/js/notice.js}"></script>
</body>
</html>