<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common/style.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/notice.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <header th:replace="fragments/header :: common-header"></header>

    <div class="container notice-container">
        <p class="title-lg">
            NOTICE
        </p>
        <div class="notice-wrapper">
            <div class="notice-view">
                <div id="notice-detail"></div>
                <div class="btn-list">
                    <button class="btn-primary">목록</button>
                    <button class="btn-primary">수정</button>
                    <button class="btn-warning">삭제</button>
                </div>
            </div>
            <div class="comment-wrapper">
                <div class="comment-register">

                    <div class="comment-limit">
                        <span id="char-count">0</span>/200
                    </div>
                    <input type="hidden" id="notice-seq-hidden" value="">
                    <textarea id="NoticeCmt" class="comment-textarea" maxlength="200" placeholder="댓글을 작성하세요. (200자)"></textarea>
                    <button id="NoticeCmtBtn" class="btn-primary" onclick="insertCmt()">등록</button>

                </div>

                <div class="comment-header">
                    <span>댓글</span>
                    <span id="notice-cm-count"></span>
                </div>
                <div id="notice-cm-list" class="comment-list"></div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: common-footer"></footer>

    <script th:src="@{/js/notice.js}" ></script>
</body>
</html>