<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common/style.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<!-- 헤더 -->
<header th:replace="fragments/header :: common-header"></header>
<div class="container mypage-container">
    <!-- 사이드바: 페이지명, 유저이름, 구매횟수 전달 필요 -->
    <div th:replace="~{fragments/mypageSidebar :: sidebarFragment('status', 'userName', 'purchaseCount')}"></div>
    <div class="mypage-content">
        <div class="mypage-info">
            <p class="title-md title-left">
                주문내역
            </p>
            <div class="mypage-order">
                <div class="order-header">
                    <div class="order-col col-num">주문번호</div>
                    <div class="order-col col-date">주문일자</div>
                    <div class="order-col col-state">상태</div>
                    <div class="order-col col-total">결제금액</div>
                </div>
                <div id="StateContainer" class="order-container"></div>
                <div class="pagination order-pagination" id="OrderPage">
                </div>
            </div>
        </div>
    </div>
    <!-- 리뷰 작성 모달 -->
    <div th:replace="fragments/modal/makeReviewModal"></div>
</div>
<!-- 푸터 -->
<footer th:replace="fragments/footer :: common-footer"></footer>
<script>
    // 더미데이터
    // state 0: 주문진행중(주문중, 배송중), 1: 배송완료, 2: 주문취소 로 잡고 작업함
    // state 수정 필요할 시 js 코드와 mypage.css의 '.state-circle' 하위 스타일 수정

    $(document).ready(function () {
        // 주문현황 리스트
        // '리뷰 작성' 버튼은 '주문완료상태' + '완료 n일 이내' 조건. 작성날짜와 현재날짜 비교하여 n일 이내의 건만 가능하도록 처리 필요

    });

    // 진행현황 html 그리기
    function createShippingSteps(stateVal) {
        const stepLabels = ['주문확인', '배송중', '배송완료'];
        let html = '';

        for (let i = 0; i < 3; i++) {
            const isCompleted = stateVal > i || stateVal == 2;
            const isNow = stateVal < 2 && stateVal == i;

            html += `
				<div class="step step-${i + 1} ${isNow ? 'step-now' : ''}">
					<div class="step-circle">
						${isCompleted ? `<img src="/img/icons/icon-check-w.svg" alt="완료">` : i + 1}
					</div>
					${i < 2 ? `<div class="step-line step-line-${i + 1}"></div>` : ''}
					<div class="step-text">
						${stepLabels[i]}
					</div>
				</div>
				`;
        }
        return html;
    }

    // 리뷰 전송
    // '리뷰 별점' 수치는 selectedRating 변수 사용하면 됨
</script>
<script th:src="@{/js/orderState.js}"></script>
</body>
</html>