<footer class="footer" th:fragment="common-footer">
    <div class="footer-top">
        <div class="footer-left">
            <img src="../img/icons/logo.svg" alt="logo"/>
            <div class="footer-desc">
                섬세한 손길과 진심을 담아, 당신의 빛나는 순간을 완성합니다. 품격과 감성을 잇는 Brillar.
            </div>
        </div>
        <div class="footer-right">
            <div class="sitemap">
                <div class="sitemap-section">
                    <div class="sitemap-title">Shop</div>
                    <a href="/shop/ring">반지</a>
                    <a href="/shop/earring">귀걸이</a>
                    <a href="/shop/necklace">목걸이</a>
                    <a href="/shop/bracelet">팔찌</a>
                </div>
                <div class="sitemap-section">
                    <div class="sitemap-title">Notice</div>
                    <a href="/notice">공지사항</a>
                    <a href="/event">이벤트</a>
                    <a href="/qna">문의</a>
                </div>
                <div class="sitemap-section">
                    <div class="sitemap-title">Account</div>
                    <a href="/mypage/main">마이페이지</a>
                    <a href="/mypage/history">주문내역</a>
                </div>
                <div class="sitemap-section">
                    <div class="sitemap-title">TEAM BRILLAR</div>
                    <a href="/about">About us</a>
                    <a href="/">Github</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        ©2025 BRILLAR. All rights reserved.
    </div>
<script th:src="@{/js/header.js}"></script>
</footer>