<header class="header" th:fragment="common-header">
    <div class="header-top">
        <div class="logo">
            <a href="/"><img src="/img/icons/logo.svg" alt="logo"/></a>
        </div>
        <div class="cart">
            <img src="../img/icons/icon-cart.svg" alt="cart"/>
        </div>
    </div>
    <div class="divider"></div>
    <div class="header-bottom">
        <nav class="menu">
            <ul class="menu-list">
                <li class="shop">
                    Shop
                    <ul class="dropdown">
                        <li><a href="/ring.html">반지</a></li>
                        <li><a href="/earring.html">귀걸이</a></li>
                        <li><a href="/necklace.html">목걸이</a></li>
                        <li><a href="/bracelet.html">팔찌</a></li>
                    </ul>
                </li>
                <li><a href="/notice">Notice</a></li>
                <li><a href="/events.html">Events</a></li>
                <li><a href="/qna.html">Q&A</a></li>
            </ul>
        </nav>
        <div class="auth">
            <a href="/login.html">로그인</a>
            <a href="/signup.html">회원가입</a>
        </div>
    </div>
</header>