<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문완료</title>
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common/style.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<!-- 헤더 -->
<header th:replace="fragments/header :: common-header"></header>

<div class="container cart-container">
    <div class="complete-top">
        <div class="top-title">
            <div class="icon-circle">
                <img src="/img/icons/icon-check-w.svg" alt="아이콘">
            </div>
            <div class="title-text">
                <p class="order-text" id="OrderNumber"></p>
                <p class="complete-text">주문이 완료되었습니다.</p>
            </div>
        </div>
        <div class="top-link">
            <a class="link-state" href="/user/order-status">주문 현황</a>
        </div>
    </div>
    <div class="complete-content" id="CompleteContent">
        <!-- 주문 완료 정보 출력란 -->
    </div>
    <div class="complete-bottom">
        <p>도움이 필요하신가요?</p>
        <a class="link-qna" href="/qna">질문 남기기</a>
    </div>
    
</div>

<!-- 푸터 -->
<footer th:replace="fragments/footer :: common-footer"></footer>
<script th:src="@{/js/orderComplete.js}"></script>
</body>
</html>