@font-face {
    font-family: 'GowunBatang';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/GowunBatang-Regular.ttf");
}

@font-face {
    font-family: "GowunBatang";
    font-style: bold;
    font-weight: 700;
    src: url("/fonts/GowunBatang-Bold.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.ttf");
}

:root {
    --c-green-1: #0E1513;
    --c-green-2: #102D26;
    --c-green-3: #98B0A9;
    --c-green-4: #d4dbd9;
    --c-green-5: #00A985;
    --c-purple-1: #2D2439;
    --c-purple-2: #5B5168;
    --c-red-1: #50051E;
    --c-red-2: #CC7886;
    --c-gray-1: #2C2C2C;
    --c-gray-2: #A9A9A9;
    --c-gray-3: #F6F6F6;
    --c-white: #ffffff;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'GowunBatang', 'Inter', Arial, monospace;
    background-color: var(--c-white);
    color: var(--c-gray-1);
    cursor: default;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

input {
    padding: 10px 15px;
    border: 1px solid var(--c-gray-2);
    border-radius: 5px;
    outline: none;
}

textarea {
    padding: 10px;
    border: 1px solid var(--c-gray-2);
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 16px;
    font-family: 'Inter';
}

button {
    border: 1px solid var(--c-purple-1);
    outline: none;
    cursor: pointer;
}

.container {
    width: 1440px;
    padding: 30px;
    margin: 0 auto;
}

/* 공통 컴포넌트 */
.title-lg {
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    color: var(--c-green-1);
    text-align: center;
}

.title-md {
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    color: var(--c-green-1);
    text-align: center;
}

/* 버튼 */
.btn-basic-sm {
    padding: 10px 20px;
    border: 1px solid var(--c-green-1);
    background-color: var(--c-white);
    border-radius: 5px;
    color: var(--c-green-1);
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        background-color: var(--c-green-1);
        color: var(--c-white);
    }
}

.btn-white-sm {
    padding: 10px 20px;
    border: 1px solid var(--c-white);
    border-radius: 5px;
    color: var(--c-white);
    cursor: pointer;
    transition: all 0.2s linear;
}

.btn-wide {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--c-purple-1);
    background-color: var(--c-purple-1);
    border-radius: 5px;
    color: var(--c-white);
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        background-color: var(--c-purple-2);
        border-color: var(--c-purple-2);
        color: var(--c-white);
    }
}

.btn-duplicate {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid var(--c-purple-1);
    background-color: var(--c-purple-1);
    color: var(--c-white);
    transition: all 0.2s linear;

    &:hover {
        border-color: var(--c-purple-2);
        background-color: var(--c-purple-2);
        color: var(--c-white);
    }
}

.btn-primary {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid var(--c-green-2);
    background-color: var(--c-green-2);
    color: var(--c-white);
    transition: all 0.2s linear;

    &:hover {
        border-color: var(--c-green-3);
        background-color: var(--c-green-3);
        color: var(--c-white);
    }
}

.btn-warning {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid var(--c-red-1);
    background-color: var(--c-red-1);
    color: var(--c-white);
    transition: all 0.2s linear;

    &:hover {
        border-color: var(--c-red-2);
        background-color: var(--c-red-2);
        color: var(--c-white);
    }
}

/* 페이지네이션 */
.pagination {
    display: flex;
    gap: 5px;
}

.page-btn {
    width: 32px;
    height: 32px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid var(--c-green-3);
    color: var(--c-green-3);
    border-radius: 8px;
    padding: 7px;

    &.active {
        background-color: var(--c-green-2);
        border-color: var(--c-green-2);
        color: var(--c-white);
    }

    &.disabled {
        background-color: var(--c-green-4);
        border-color: var(--c-green-4);
        color: var(--c-white);
    }
}