<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common/style.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/qna.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Q&A</title>
</head>

<body>
<!-- 헤더 -->
<header th:replace="fragments/header :: common-header"></header>

<div class="container qna-container">
    <p class="title-lg">
        Q&A
    </p>
    <div class="qna-wrapper">
        <div class="question-view">
            <div id="QuestionDetail" class="question-detail">
            </div>
            <div class="btn-list">
                <!-- 답변은 관리자에게, 삭제는 작성자에게만 보임 -->
                <button class="btn-primary" id="AnswerBtn" style="display: none;">답변</button>
                <div class="btn-sub-list">
                    <button class="btn-primary" id="QnaListBtn">목록</button>
                    <button class="btn-warning" id="DeleteBtn" style="display: none;">삭제</button>
                </div>
            </div>
        </div>
        <!-- 답변 있을 때 -->
        <div id="AnswerView" class="answer-view">
        </div>
        <!-- 답변 없을 때 (관리자만)-->
        <div class="answer-register" id="AnswerRegister">
            <div class="comment-limit">
                <span id="AnswerCount">0</span>/500
            </div>
            <textarea id="AnswerText" class="comment-textarea" maxlength="500"
                      placeholder="답변을 작성하세요. (500자)"></textarea>
            <button class="btn-primary" id="AnswerSaveBtn">등록</button>
        </div>
    </div>
</div>

<!-- 푸터 -->
<footer th:replace="fragments/footer :: common-footer"></footer>

<script th:src="@{/js/qna.js}"></script>
</body>

</html>