<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.brillar.mapper.UserMapper">

    <!-- 테스트용 -->
    <insert id="insertUser" parameterType="kr.co.brillar.dto.Member">
        insert into user(
                         user_password,
                         user_name,
                         user_birth,
                         user_gender,
                         user_phone,
                         user_addr1,
                         user_addr2,
                         user_role,
                         user_email,
                         created_at,
                         updated_at
        ) values (
                  #{userPassword},
                  #{userName},
                  #{userBirth},
                  #{userGender},
                  #{userPhone},
                  #{userAddr1},
                  #{userAddr2},
                  #{userRole},
                  #{userEmail},
                  Now(),
                  Now()
          )
    </insert>

</mapper>
