<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/shop.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
<header th:replace="fragments/header :: common-header"></header>
<div class="container product-container">
    <div class="product-wrapper" id="ProductWrapper">
        <!-- 제품 상세정보 출력 -->
    </div>
    <div class="review-wrapper">
        <div class="review-top">
            <p class="title-md">REVIEWS</p>
            <div class="review-total">
                <p>★★★★☆ <span class="avg-rate">4.0 (16)</span></p>
            </div>
        </div>
        <div class="review-list-wrap">
            <div class="review-filter">
                <div class="photo-filter">
                    <input type="checkbox" />
                    <p>포토 리뷰만</p>
                </div>
                <div class="sort-filter">
                    <input type="radio" name="size" id="SortRecent" value="recent" checked hidden>
                    <label for="SortRecent" class="sort-item">최신순</label>
                    <input type="radio" name="size" id="SortRate" value="rate" hidden>
                    <label for="SortRate" class="sort-item">별점 높은 순</label>
                </div>
            </div>
            <div class="review-list">
            </div>
            <div class="pagination product-pagination">
            </div>
        </div>
    </div>
    <button type="button" id="Pay">결제</button>
    <!-- 카트 확인 모달-->
    <div th:replace="~{fragments/modal/confirmModal :: modalFragment(
        'CartModal', '장바구니 담기',
        '상품을 장바구니에 담았습니다. 수량은 장바구니 내에서 변경가능합니다',
        '바로 결제하기', '닫기', 'CartConfirm', 'CartModalClose')}">
    </div>
</div>

<footer th:block th:replace="fragments/footer :: common-footer"></footer>
<script th:src="@{/js/detail.js}"></script>
<script th:src="@{/js/review.js}"></script>
<script th:src="@{/js/kakaoPay.js}"></script>
</body>
</html>