<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/shop.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
<header th:replace="fragments/header :: common-header"></header>
<div class="container product-container">
    <div class="product-wrapper" id="ProductWrapper">
        <!-- 제품 상세정보 출력 -->
    </div>
    <div class="review-wrapper">
        <div class="review-top">
            <p class="title-md">REVIEWS</p>
            <div class="review-total">
                <p>★★★★☆ <span class="avg-rate">4.0 (16)</span></p>
            </div>
        </div>
        <div class="review-list-wrap">
            <div class="review-filter">
                <div class="photo-filter">
                    <input type="checkbox" />
                    <p>포토 리뷰만</p>
                </div>
                <div class="sort-filter">
                    <input type="radio" name="size" id="SortRecent" value="recent" checked hidden>
                    <label for="SortRecent" class="sort-item">최신순</label>
                    <input type="radio" name="size" id="SortRate" value="rate" hidden>
                    <label for="SortRate" class="sort-item">별점 높은 순</label>
                </div>
            </div>
            <div class="review-list">
                <!-- 더미데이터 -->
                <div class="review-item">
                    <div class="reviewer-info">
                        <p class="review-rate">★★★★☆</p>
                        <p class="review-name">오튜브</p>
                        <p class="review-date ">2025-05-25</p>
                    </div>
                    <div class="review-container">
                        <p class="product-name">플레인 골드 체인 팔찌</p>
                        <div class="review-content">
                            <p>와 정말 예쁜 팔찌네요</p>
                            <div class="img-container">
                                <img src="/img/products/bracelet/b1.png" alt="리뷰사진">
                                <img src="/img/products/bracelet/b2.png" alt="리뷰사진">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-item">
                    <div class="reviewer-info">
                        <p class="review-rate">★★★★☆</p>
                        <p class="review-name">오튜브</p>
                        <p class="review-date ">2025-05-25</p>
                    </div>
                    <div class="review-container">
                        <p class="product-name">플레인 골드 체인 팔찌</p>
                        <div class="review-content">
                            <p>와 정말 예쁜 팔찌네요 우리 벅초도 좋아합니다</p>
                        </div>
                    </div>
                </div>
                <div class="review-item">
                    <div class="reviewer-info">
                        <p class="review-rate">★★★★☆</p>
                        <p class="review-name">오튜브</p>
                        <p class="review-date ">2025-05-25</p>
                    </div>
                    <div class="review-container">
                        <p class="product-name">플레인 골드 체인 팔찌</p>
                        <div class="review-content">
                            <p class="review-text">와 정말 예쁜 팔찌네요 고라파덕 퍼스널컬러랑 착붙 ㄷㄷ 와 정말 예쁜 팔찌네요 고라파덕 퍼스널컬러랑 착붙 ㄷㄷ 와
                                정말 예쁜 팔찌네요 고라파덕
                                퍼스널컬러랑 착붙 ㄷㄷ 와 정말 예쁜 팔찌네요 고라파덕 퍼스널컬러랑 착붙 ㄷㄷ 와 정말 예쁜 팔찌네요 고라파덕 퍼스널컬러랑 착붙 ㄷㄷ</p>
                            <div class="img-container">
                                <img src="/img/products/bracelet/b1.png" alt="리뷰사진">
                                <img src="/img/products/bracelet/b2.png" alt="리뷰사진">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-item">
                    <div class="reviewer-info">
                        <p class="review-rate">★★★★☆</p>
                        <p class="review-name">오튜브</p>
                        <p class="review-date ">2025-05-25</p>
                    </div>
                    <div class="review-container">
                        <p class="product-name">플레인 골드 체인 팔찌</p>
                        <div class="review-content">
                            <p>와 정말 예쁜 팔찌네요 우리 벅초도 좋아합니다</p>
                        </div>
                    </div>
                </div>
                <div class="review-item">
                    <div class="reviewer-info">
                        <p class="review-rate">★★★★☆</p>
                        <p class="review-name">오튜브</p>
                        <p class="review-date ">2025-05-25</p>
                    </div>
                    <div class="review-container">
                        <p class="product-name">플레인 골드 체인 팔찌</p>
                        <div class="review-content">
                            <p>와 정말 예쁜 팔찌네요 우리 벅초도 좋아합니다</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination product-pagination">
                <button class="page-btn disabled"><img src="/img/icons/icon-first.svg" /></button>
                <button class="page-btn disabled"><img src="/img/icons/icon-prev.svg" /></button>
                <button class="page-btn active">1</button>
                <button class="page-btn">2</button>
                <button class="page-btn">3</button>
                <button class="page-btn">4</button>
                <button class="page-btn">5</button>
                <button class="page-btn"><img src="/img/icons/icon-next.svg" /></button>
                <button class="page-btn"><img src="/img/icons/icon-last.svg" /></button>
            </div>
        </div>
    </div>
    <!-- 카트 확인 모달-->
    <div th:replace="~{fragments/modal/confirmModal :: modalFragment(
        'CartModal', '장바구니 담기',
        '상품을 장바구니에 담았습니다. 수량은 장바구니 내에서 변경가능합니다',
        '바로 결제하기', '닫기', 'CartConfirm', 'CartModalClose')}">
    </div>
</div>

<footer th:block th:replace="fragments/footer :: common-footer"></footer>
<script th:src="@{/js/detail.js}"></script>
</body>
</html>